.mainPage {
  display: flex;
  flex-direction: column;
  direction: ltr;
  flex-grow: 1;
}

.mainPageToolbar {
  padding: 1em;
}

.pageButton {
  
}

.pageSection {
  border-bottom: solid 1px #CCCCCC;
}

.inputField {
  height: 24px;
  font-size: 14px;
  margin: 1em 2em;
}

.pageTitle {
  display: inline-block;
  margin-left: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popup {
  border: solid 1px #CCCCCC;
  border-radius: 2.5px;
}

.popupHeader {
  padding: 0.5rem 0.5rem 0.5rem;
}

.popupActions {
  direction: rtl;
  padding: 0.5rem;
}