.mainPage {
  display: flex;
  flex-direction: column;
  direction: ltr;
  flex-grow: 1;
}

.mainPageToolbar {
  padding: 1em;
  border-bottom: solid 1px #CCCCCC;
}

.inputField {
  height: 24px;
  font-size: 14px;
  margin-right: 0.5rem;
}

.pageTitle {
  display: inline-block;
  margin-left: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popupHeader {
  padding: 0.5rem 0.5rem 0.5rem;
}

.actionButtons {
  direction: rtl;
}

.actionButtons button {
  margin-right: 0.5rem;
}

.card { 
  border: solid 1px #CCCCCC;
  border-radius: 2.5px;
  margin: 1.5em 2em 1em 0em;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.popup {
  background-color: #FFFFFF;
  padding-bottom: 0.5rem;
}

.cardContent {
  padding: 1em;
}

.popupContent {
  margin: 1em 1.5em;
}

.selectField {
  min-width: 12rem;
}

.header {
  font-weight: bold;
  border-bottom: solid 1px #CCCCCC;
  padding: 1rem;
  justify-content: space-between;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.hbox {
  display: flex;
  flex-direction: row;
}

.subtitle {
  font-size: 14px;
  opacity: 0.7;
}

.pageButton {
  width: 18rem;
}

.listButton {
  border: none;
  background: none;
  border-radius: 2px;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
  background-color: #CCCCCC;
}

.sideMenu {
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  border-left: solid 1px #CCCCCC;
  direction: ltr;
}

.itemList {
  align-items: center;
  flex-grow: 1;
  margin: 0em;
}

.itemList ul {
  list-style-type: none;
}

.itemCard:hover {
  background-color: #DDDDDD;
}

.itemName {
  font-weight: bold;
  font-size: 15px;
}

.errorMessage {
  border: solid 1px rgba(255, 0, 0, 0.5);
  border-radius: 3px;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
  color: red;
}