.sideMenu {
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  border-left: solid 1px #CCCCCC;
  direction: ltr;
  height: 100%;
  align-items: stretch;
}

.sideMenuContents {
  display: flex;
  flex-direction: column;
}

.itemList {
  align-items: center;
  flex-grow: 1;
  margin: 0em;
}

.itemList ul {
  list-style-type: none;
}

.itemCard:hover {
  background-color: #DDDDDD;
  cursor: pointer;
}

.itemName {
  font-weight: bold;
  font-size: 15px;
}

